<p id="notice"><%= notice %></p>

<h1>Projects</h1>

<%= link_to 'New Project', new_project_path %>
<br>
<br>
<table>
<% @projects.each_slice(3) do |projects| %>
  <tr>
  
  <% projects.each do |project| %>
    <div class="col-md-10">
      
 #d
     
      <td>
    <div class="card-group">
     <div class="card border-primary mb-30" style="width: 30rem; height: 21rem" >
      <div class="card-header">Title: <%= project.title %>  </div>
      <div class="card-body text-primary">
        <h5 class="card-title"><%= project.description %> <p class="card-text">
        </p> </h5> 
        <div class="d-flex justify-content-between align-items-bottom">
         
         <h7>
          <%= link_to 'Show', project %>
        <%= link_to 'Edit', edit_project_path(project)%>
        <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>
      </h7>
    
        </div>
      
      </div>
      </div>
    </div>
        </div>
     
        
      </td>
      
      <% end %>
      </div>
      </tr>
      <% end %>
      </table>

<br>

