<!DOCTYPE html>

<html>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to 'Home', projects_path %> <span class="sr-only">(current)</span>
      </li>
      
      
     
    </ul>
    </div>
</nav>


<p class="navbar-text float-right">

<% if user_signed_in? %>

  Logged in as <strong><%= current_user.email %></strong>.

  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |

  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>

<% else %>

  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |

  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>

<% end %>

</p>

<ul class="navbar-nav mr-auto">



</ul>

  <head>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Cs3300</title>

    <%= csrf_meta_tags %>

    <%= csp_meta_tag %>



    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>



  <body>
  <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Projects by <em>Devin Hall</em></h1>
          <p class="lead text-muted">Devin Hall is a first semester senior Computer Science student who loves software as well as working with hardware and robotics. This site showcases his work.</p>
          <p>
          <button type="button" class="btn btn-outline-warning">DON'T CLICK ME</button>
            
          </p>
        </div>
      </section>
      
       
    
     
     
           
      
    </main>

   
    <%= yield %>
  </body>
  
</html>

